/* Config. Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/* Header */
header .header {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    margin-top: 28px;
}

header .header h3 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

header .header input {
    width: 462px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 3px;
    padding-left: 16px;
    font-family: "sans400";
    outline: none;
    color: #333333;
}

header .header input::placeholder {
    font-family: "sans400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    opacity: 0.5;
}

header .menu {
    width: 321px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu a {
    font-family: "sans600";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

header .menu-icons {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.300838);
    border-radius: 50%;
    position: relative;
}

header .menu-icons .form .notification-form {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #C86DD7;
    position: absolute;
    left: 85.76%;
    right: 13.12%;
    top: 0.57%;
    bottom: 99.15%;
}

header .menu-icons .form .notification-form span {
    font-family: "sans600";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Main */

main section .banner {
    width: 100%;
    height: 768px;
    margin-top: -75px;
    display: flex;
    justify-content: center;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
}

main section .banner .banner-content {
    width: 100%;
    height: 576px;
    display: flex;
    justify-content: space-between;
    margin: 192px 16px;
}

main section .banner .banner-content .form {
    margin-top: 200px;
}

main section .banner .banner-content .content {
    width: 1138px;
    height: 576px;
    background-image: url(/assets/images/pc.png);
    background-repeat: no-repeat;
}

main section .banner .banner-content .content .content-text {
    margin-left: 700px;
    margin-top: 61px;
}

main section .banner .banner-content .content .content-text h5 {
    font-family: 'pop700';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 23px;
}

main section .banner .banner-content .content .content-text h1 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 36px;
}

main section .banner .banner-content .content .content-text button {
    width: 170px;
    height: 48px;
    font-family: "sans700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FFC300;
    border-radius: 24px;
    border: none;
}

main section .about-cont {
    width: 100%;
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FDF2FF;
}

main section .about-cont .info-cont {
    width: 1172px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section .about-cont .info-cont .info-card {
    width: 270px;
    height: 107px;
    display: flex;
    flex-wrap: wrap;
}

main section .about-cont .info-cont .info-card img {
    width: 48px;
    height: 48px;
}

main section .about-cont .info-cont .info-card h4 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-left: 16px;
}

main section .about-cont .info-cont .info-card span {
    font-family: "sans400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 9px;
    margin-left: 64px;
}

main section .banner-product {
    width: 100%;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
}

main section .banner-product .banner-product-text {
    width: 570px;
    height: 186px;
    display: flex;
    flex-direction: column;
    margin-top: 77px;
}

main section .banner-product .banner-product-text h5 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 18px;
}

main section .banner-product .banner-product-text h2 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #333333;
    margin-bottom: 23px;

}

main section .banner-product .banner-product-text span {
    font-family: "sans400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.5;
}

main section .banner-product-itens {
    width: 100%;
    height: 341px;
    display: flex;
    margin-top: 71px;
}

main section .banner-product-itens .products {
    width: 100%;
    height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section .banner-product-itens .products img {
    margin-bottom: 40px;
}

main section .banner-product-itens .products span {
    font-family: "sans400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 8px;
}

main section .banner-product-itens .products a {
    font-family: "sans600";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
    margin-top: 8px;
}

main section .best-products-cont {
    width: 100%;
    height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FDF2FF;
}

main section .best-products-cont .text-cont {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

main section .best-products-cont .text-cont h5 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 18px;
}

main section .best-products-cont .text-cont h2 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #333333;
}

main section .best-products-cont .cardbox {
    width: 100%;
    height: 480px;
    display: grid;
    grid-template-areas:
        "cardtwo cardthree cardfour"
        "cardtwo cardfive cardfive";
    gap: 30px;
    margin-top: 57px;
}

main section .best-products-cont .cardbox .cardtwo {
    width: 370px;
    height: 480px;
    display: flex;
    flex-direction: column;
    grid-row: cardtwo;
    background: #FFFFFF;
    background-image: url(/assets/images/multiiphone.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 3px;
    padding-left: 32px;
    padding-top: 37px;

}

main section .best-products-cont .cardbox .cardtwo h4 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 9px;
}

main section .best-products-cont .cardbox .cardtwo span {
    font-family: "sans400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 26px;
}

main section .best-products-cont .cardbox .cardtwo button {
    width: 170px;
    height: 48px;
    font-family: "sans700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #C86DD7;
    background-color: #FFFFFF;
    border: 1px solid #C86DD7;
    border-radius: 24px;
}

main section .best-products-cont .cardbox .cardthree {
    width: 370px;
    height: 224px;
    display: flex;
    flex-direction: column;
    grid-row: cardthree;
    margin-bottom: auto;
    background: #FFFFFF;
    background-image: url(/assets/images/iphone.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 3px;
    padding-left: 32px;
    padding-top: 37px;
}

main section .best-products-cont .cardbox .cardthree h4 {
    width: 142px;
    height: 64px;
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 9px;
}

main section .best-products-cont .cardbox .cardthree h5 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
}

main section .best-products-cont .cardbox .cardfour {
    width: 370px;
    height: 224px;
    display: flex;
    flex-direction: column;
    grid-row: cardfour;
    background: #FFFFFF;
    background-image: url(/assets/images/watch.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 3px;
    padding-left: 32px;
    padding-top: 37px;
}

main section .best-products-cont .cardbox .cardfour h4 {
    width: 82px;
    height: 64px;
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 9px;
}

main section .best-products-cont .cardbox .cardfour h5 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
}

main section .best-products-cont .cardbox .cardfive {
    width: 780px;
    height: 224px;
    display: flex;
    flex-direction: column;
    grid-column: cardfive;
    background: #FFFFFF;
    background-image: url(/assets/images/laptop.png);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 3px;
    padding-left: 32px;
    padding-top: 37px;
}

main section .best-products-cont .cardbox .cardfive h4 {
    font-family: "pop700";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 9px;
}

main section .best-products-cont .cardbox .cardfive span {
    font-family: "sans400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 26px;
}

main section .best-products-cont .cardbox .cardfive button {
    width: 170px;
    height: 48px;
    font-family: "sans700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #C86DD7;
    background-color: #FFFFFF;
    border: 1px solid #C86DD7;
    border-radius: 24px;
}